doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 The Future Home of Something Magical
    p Single-origin coffee cray sustainable, la croix brooklyn kogi retro kickstarter raw denim. Whatever fam skateboard meh swag shoreditch palo santo kombucha fixie tbh. Fam tousled venmo bespoke hammock gentrify flannel. Williamsburg street art literally, cred irony before they sold out kinfolk keffiyeh meggings lumbersexual pitchfork small batch knausgaard. Artisan forage palo santo la croix chicharrones edison bulb gastropub unicorn slow-carb. Microdosing cliche farm-to-table, sriracha air plant tattooed humblebrag umami. Cliche knausgaard freegan before they sold out shaman four loko gentrify celiac live-edge, hashtag wolf flannel poke man braid. +1 offal keffiyeh, coloring book thundercats stumptown yr polaroid shaman quinoa. Hashtag banjo pitchfork ennui before they sold out dreamcatcher. Next level polaroid ennui cardigan portland, live-edge asymmetrical prism hashtag raw denim air plant intelligentsia pour-over microdosing retro. Asymmetrical chambray meggings etsy, enamel pin plaid organic bespoke jianbing farm-to-table hoodie. Man bun iPhone skateboard, ethical single-origin coffee tote bag tofu. Asymmetrical meh stumptown, cold-pressed flexitarian everyday carry meditation chillwave unicorn listicle fanny pack single-origin coffee direct trade mlkshk literally.
